<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="MyDBEntities" connectionString="metadata=res://*/MyDB.csdl|res://*/MyDB.ssdl|res://*/MyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LYLI-PC\SQLEXPRESS;initial catalog=MyDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="AppName" value="C# Demo"/>
    <add key="ConnectionString" value="data source=LYLI-PC\SQLEXPRESS;initial catalog=MyDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework"/>
  </appSettings>
</configuration>